<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kisii_national_polytechnic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BuildingCiviEngineer"></activity>
        <activity android:name=".AppliedSciences" />
        <activity android:name=".HealthScience" />
        <activity android:name=".CommunityDevStudies" />
        <activity android:name=".ComputerStudies" />
        <activity android:name=".BusinessStudies" />
        <activity android:name=".ElectricalAndEe" />
        <activity android:name=".InstitutionManagement" />
        <activity android:name=".mechanicalEngn" />
        <activity android:name=".Administration" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>